.card{
    height: 40rem !important;
    padding: 10px;
    margin-bottom: 10px;
}
.title{
    margin-top: 10px !important;
    margin-bottom: 30px !important;
}
.from{
    display: flex;
    flex-direction: column;
}
.formulario{
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-color: rgb(204, 204, 204) !important;
}