.card{
    height: 27rem ;
    border-color: rgb(201, 198, 198) !important;
}
.title{
    font-size: 40px !important;
}
.botones{
    display: flex;
    flex-direction: column !important;
}
.boton1{
    margin-top: 40px;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px 30px 30px 30px;
    background-color: black;
    color: whitesmoke;
}
.boton2{
    margin-bottom: 20px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px 30px 30px 30px;
    background-color: black;
    color: whitesmoke;
}
.input{
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 30px 30px 30px 30px;
    border-color: #17a077 !important;
    border-style: solid;
}
.boton3{
    padding: 5px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 30px 30px 30px 30px;
    background-color:#17a077;
    color: whitesmoke;
    border: none;
}